header {
  background-color: #fff;
  box-shadow: 0 0px 10px 6px rgba(85, 85, 85, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
header .container .logo a {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
}
header .container .logo a span {
  color: #fe4c50;
}
header .container .headerMid {
  display: flex;
  column-gap: 5rem;
  align-items: center;
}
header .container .headerMid ul {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
header .container .headerMid ul li a {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1e1e27;
  text-transform: uppercase;
  line-height: 2.3rem;
  transition: all 0.3s ease;
}
header .container .headerMid ul li a:hover {
  color: #b5aec4;
}
header .container .headerMid ul button {
  display: none;
}
header .container .headerMid > div {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
header .container .headerMid > div a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceff6;
}
header .container .headerMid > div a i {
  color: #1e1e27;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
header .container .headerMid > div a:hover i {
  color: #b5aec4;
}
header .container .headerMid > div button {
  background-color: transparent;
  font-size: 1.8rem;
  display: none;
}
header .container .headerRight {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: flex-end;
}
header .container .headerRight .search {
  position: relative;
}
header .container .headerRight .search input {
  width: 20rem;
  height: 3.5rem;
  padding: 0 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 10rem;
  font-size: 1.4rem;
  color: #1e1e27;
  transition: all 0.3s ease;
}
header .container .headerRight .search input:focus {
  border-color: #fe4c50;
}
header .container .headerRight .search i {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: #1e1e27;
}
header .container .headerRight .favs a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceff6;
}
header .container .headerRight .favs a i {
  color: #1e1e27;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
header .container .headerRight .favs a:hover i {
  color: #b5aec4;
}
header .container .headerRight .basket a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceff6;
}
header .container .headerRight .basket a i {
  color: #1e1e27;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
header .container .headerRight .basket a:hover i {
  color: #b5aec4;
}
header .container .headerRight .signin {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  line-height: 2.3rem;
  transition: all 0.3s ease;
  border-radius: 10rem;
  padding: 1rem 2.4rem;
  background-color: #0f2da2;
}
header .container .headerRight .signin:hover {
  color: #b5aec4;
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
  }
  header .container {
    height: 8rem;
  }
  header .container .logo a {
    font-size: 2rem;
  }
  header .container .headerMid ul {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    flex-direction: column;
    padding-top: 10rem;
    transition: all 0.3s ease;
    transform: translateX(100%);
  }
  header .container .headerMid ul li {
    width: 100%;
  }
  header .container .headerMid ul li a {
    width: 100%;
    text-align: end;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
  }
  header .container .headerMid ul button {
    display: block;
    position: absolute;
    top: 2.4rem;
    right: 1.6rem;
    font-size: 2rem;
    color: #1e1e27;
    background-color: transparent;
  }
  header .container .headerMid ul.active {
    transform: translateX(0);
  }
  header .container .headerMid > div a {
    width: 3.5rem;
    height: 3.5rem;
  }
  header .container .headerMid > div a i {
    font-size: 1.4rem;
  }
  header .container .headerMid > div button {
    display: block;
  }
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

#Banner {
  background-color: #c8ebff;
  height: 100vh;
  background-image: url("../../../../public/img/hero_man.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.products {
  padding: 6rem 0;
}
.products .container .productsTop {
  padding-bottom: 6rem;
}
.products .container .productsTop h3 {
  font-size: 4rem;
  line-height: 4.8rem;
  color: #282828;
  text-align: center;
  position: relative;
}
.products .container .productsTop h3:before {
  content: "";
  position: absolute;
  top: calc(100% + 13px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 6rem;
  height: 0.5rem;
  background: #fe4c50;
}
.products .container .react-tabs .react-tabs__tab-list {
  border: none;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(30, 30, 39, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.products .container .react-tabs .react-tabs__tab-list .react-tabs__tab {
  height: 4rem;
  padding-inline: 2.4rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #1e1e27;
  border: none;
  border-right: 1px solid rgba(30, 30, 39, 0.1);
  transition: all 0.3s ease;
}
.products .container .react-tabs .react-tabs__tab-list .react-tabs__tab:last-child {
  border-right: none;
}
.products .container .react-tabs .react-tabs__tab-list .react-tabs__tab--selected {
  color: #FFFFFF;
  background: #fe4c50;
  border-radius: 0;
}
.products .container .productCards {
  display: flex;
  flex-wrap: wrap;
}
.products .container .productCards .productCard {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .products {
    padding: 3rem 0;
  }
  .products .container .productsTop {
    padding-bottom: 3rem;
  }
  .products .container .productsTop h3 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .products .container .productsTop h3:before {
    top: calc(100% + 6px);
    width: 4rem;
    height: 0.3rem;
  }
  .products .container .react-tabs .react-tabs__tab-list {
    margin-bottom: 3rem;
  }
  .products .container .react-tabs .react-tabs__tab-list .react-tabs__tab {
    height: 3rem;
    padding-inline: 1.6rem;
    min-width: 6rem;
    font-size: 1.2rem;
  }
  .products .container .react-tabs .productCards .productCard {
    width: 100%;
  }
}
.productCard {
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  background-color: #f5f5f5;
}
.productCard .addToFav {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0.2;
  visibility: hidden;
}
.productCard .addToFav i {
  font-size: 1.6rem;
}
.productCard .addToFav:hover {
  opacity: 1;
}
.productCard .addToFav:hover i {
  color: #fe4c50;
}
.productCard .productImg {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.productCard .productImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
.productCard .productInfo {
  padding: 2rem 1rem;
}
.productCard .productInfo a {
  text-align: center;
  font-size: 1.4rem;
  color: #1e1e27;
  margin-bottom: 1rem;
  line-height: 2rem;
  transition: all 0.3s ease;
}
.productCard .productInfo a:hover {
  color: #b5aec8;
}
.productCard .productInfo p {
  color: #fe4c50;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.3rem;
}
.productCard .addToCard {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #fe4c50;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.3s ease;
  opacity: 0;
  border-radius: 0.3rem;
}
.productCard .addToCard:hover {
  background-color: #fe7c7f;
}
.productCard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: calc(100% - 4rem);
  background-color: #e9e9e9;
  opacity: 1;
  transition: all 0.3s ease;
}
.productCard:hover {
  border: 1px solid #e9e9e9;
  border-radius: 0.3rem;
  box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
  scale: 1.05;
  z-index: 3;
}
.productCard:hover .addToFav {
  visibility: visible;
}
.productCard:hover .addToCard {
  opacity: 1;
}
.productCard:hover::before {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */